UpgradeLog*.htm
bin/
obj/
.vs/
.suo
/CameraCaptureWithHAARCascade/CameraCaptureOriginal.resx
/CameraCaptureWithHAARCascade/CameraCaptureOriginal.Designer.cs
/CameraCaptureWithHAARCascade/CameraCaptureOriginal.cs
